/* Resetting default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ul,
ol,
li,
figure,
figcaption,
hr {
  margin: 0;
  padding: 0;
}

/* Setting font size and line height */
html {
  font-size: 16px;
}
body {
  margin-top: var(--navbar-height);
  background: #fdfdfd;
}

/* Setting default font family */
body,
button,
input,
select,
textarea {
  font-family: "Montserrat", sans-serif;
}

/* Removing list styling */
ul,
ol {
  list-style: none;
}

/* Removing text decoration from links */
a {
  text-decoration: none;
}

/* Ensuring images are responsive */
img {
  max-width: 100%;
  height: auto;
}

/* Ensuring videos are responsive */
iframe,
embed,
video {
  max-width: 100%;
}

/* Box sizing */
* {
  box-sizing: border-box;
}

.primaryClrFilter {
  filter: invert(59%) sepia(24%) saturate(6141%) hue-rotate(113deg)
    brightness(102%) contrast(77%);
}

.main-container {
  max-width: calc(1440px - 104px * 2 - 15px * 2);
  padding: 15px;
  padding-top: 64px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: var(--space-lg);
  flex: 0 0 100%;
  justify-content: center;
}

.main-container > section {
  width: 75%;
}

.main-container > aside {
  flex-grow: 1;
}

.card {
  background-color: #fff;
  box-shadow: 0px 3px 40px -5px #20202012;
  border-radius: 1rem;
  padding-block: 2rem;
  padding-inline: 1.25rem;
}

.desc-text {
  font-weight: 500;
  font-size: 1rem;
  color: var(--grey800);
}

.spacing-top {
  margin-top: var(--space-lg);
}

.md-spacing-top {
  margin-top: var(--space-md);
}

.section-title {
  display: block;
  font-size: 1.5rem;
  color: var(--dark);
  font-weight: 600;
  margin-bottom: var(--space-sm);
}

.aside-title {
  display: block;
  font-size: 1rem;
  color: var(--dark);
  font-weight: 600;
  margin-bottom: var(--space-xs);
}

/* 
######################################
############# FOR MOBILE #############
###################################### 
*/
@media screen and (max-width: 991px) {
  html {
    font-size: 12px;
  }
  body {
    margin-top: var(--mobile-navbar-height);
  }
}
