.social {
  display: flex;
  align-items: center;
  gap: 0.6875rem;
  row-gap: 0.6875rem;
  flex-wrap: wrap;
}

.social a {
  width: 2.625rem;
  height: 2.625rem;
}

.social img {
  width: 100%;
  height: 100%;
}

.copyBtn{
    cursor: pointer;
}
